*{
    font-size: 20px;
}


div{
    width: 200px;
    margin: 50px auto;
    padding: 15px;
    color: brown;
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
}


span{
    width: 100px;
    margin: 15px auto;
    padding: 10px;
    background: #d0d0d0;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}


span:hover{
    color: brown;
    background: #fff;
}